#include "MyRes.h"
/////////////////////////////////////////////////////////////////////////////
// Program Icons 
// first  Icon for the program itself
// second Icon for a registered filetype 
//0                       ICON                    "Icons\\Common.ico"
0                       ICON                    "Icons\\AppIcon.ico"

/////////////////////////////////////////////////////////////////////////////
//
// 24
//Public Declare Sub InitCommonControls Lib "comctl32.dll" ()
1                       RT_MANIFEST             "Manifest\\manifest.exe.manifest"

/////////////////////////////////////////////////////////////////////////////
//
// Bitmaps
ABW		BITMAP		"Flagsbmp\\ABW, Aruba.bmp"
AFG		BITMAP		"Flagsbmp\\AFG, Afghanistan.bmp"
AFU		BITMAP		"Flagsbmp\\AFU, African Union.bmp"
AGO		BITMAP		"Flagsbmp\\AGO, Angola.bmp"
AIA		BITMAP		"Flagsbmp\\AIA, Anguilla.bmp"
ALA		BITMAP		"Flagsbmp\\ALA, Aaland.bmp"
ALB		BITMAP		"Flagsbmp\\ALB, Albania.bmp"
AND		BITMAP		"Flagsbmp\\AND, Andorra.bmp"
ANT		BITMAP		"Flagsbmp\\ANT, Netherlands Antilles.bmp"
ARE		BITMAP		"Flagsbmp\\ARE, United Arab Emirates.bmp"
ARG		BITMAP		"Flagsbmp\\ARG, Argentina.bmp"
ARM		BITMAP		"Flagsbmp\\ARM, Armenia.bmp"
ASE		BITMAP		"Flagsbmp\\ASE, Association of Southeast Asian Nations.bmp"
ASM		BITMAP		"Flagsbmp\\ASM, American Samoa.bmp"
ATA		BITMAP		"Flagsbmp\\ATA, Antarktika.bmp"
ATF		BITMAP		"Flagsbmp\\ATF, French Colonies.bmp"
ATG		BITMAP		"Flagsbmp\\ATG, Antigua and Barbuda.bmp"
AUS		BITMAP		"Flagsbmp\\AUS, Australia.bmp"
AUT		BITMAP		"Flagsbmp\\AUT, Austria.bmp"
AZE		BITMAP		"Flagsbmp\\AZE, Azerbaijan.bmp"
BDI		BITMAP		"Flagsbmp\\BDI, Burundi.bmp"
BEL		BITMAP		"Flagsbmp\\BEL, Belgium.bmp"
BEN		BITMAP		"Flagsbmp\\BEN, Benin.bmp"
BES		BITMAP		"Flagsbmp\\BES, Bonaire-Sint Eustatius-Saba.bmp"
BFA		BITMAP		"Flagsbmp\\BFA, Burkina Faso.bmp"
BGD		BITMAP		"Flagsbmp\\BGD, Bangladesh.bmp"
BGR		BITMAP		"Flagsbmp\\BGR, Bulgaria.bmp"
BHR		BITMAP		"Flagsbmp\\BHR, Bahrain.bmp"
BHS		BITMAP		"Flagsbmp\\BHS, Bahamas.bmp"
BIH		BITMAP		"Flagsbmp\\BIH, Bosnia and Herzegovina.bmp"
BLM		BITMAP		"Flagsbmp\\BLM, Saint-Barthelemy.bmp"
BLR		BITMAP		"Flagsbmp\\BLR, Belarus.bmp"
BLZ		BITMAP		"Flagsbmp\\BLZ, Belize.bmp"
BMU		BITMAP		"Flagsbmp\\BMU, Bermuda.bmp"
BOL		BITMAP		"Flagsbmp\\BOL, Bolivia.bmp"
BRA		BITMAP		"Flagsbmp\\BRA, Brazil.bmp"
BRB		BITMAP		"Flagsbmp\\BRB, Barbados.bmp"
BRN		BITMAP		"Flagsbmp\\BRN, Brunei Darussalam.bmp"
BTN		BITMAP		"Flagsbmp\\BTN, Bhutan.bmp"
BVT		BITMAP		"Flagsbmp\\BVT, Bouvetinsel.bmp"
BWA		BITMAP		"Flagsbmp\\BWA, Botswana.bmp"
CAF		BITMAP		"Flagsbmp\\CAF, Central African Republic.bmp"
CAN		BITMAP		"Flagsbmp\\CAN, Canada.bmp"
CCK		BITMAP		"Flagsbmp\\CCK, Cocos Islands.bmp"
CHE		BITMAP		"Flagsbmp\\CHE, Switzerland.bmp"
CHL		BITMAP		"Flagsbmp\\CHL, Chile.bmp"
CHN		BITMAP		"Flagsbmp\\CHN, China.bmp"
CIV		BITMAP		"Flagsbmp\\CIV, Ivory Coast.bmp"
CMR		BITMAP		"Flagsbmp\\CMR, Cameroon.bmp"
COD		BITMAP		"Flagsbmp\\COD, Democratic Republic of the Congo (Kinshasa).bmp"
COG		BITMAP		"Flagsbmp\\COG, Congo, Republic of (Brazzaville).bmp"
COK		BITMAP		"Flagsbmp\\COK, Cook Islands.bmp"
COL		BITMAP		"Flagsbmp\\COL, Colombia.bmp"
COM		BITMAP		"Flagsbmp\\COM, Comoros.bmp"
CPV		BITMAP		"Flagsbmp\\CPV, Cape Verde.bmp"
CRI		BITMAP		"Flagsbmp\\CRI, Costa Rica.bmp"
CUB		BITMAP		"Flagsbmp\\CUB, Cuba.bmp"
CUW		BITMAP		"Flagsbmp\\CUW, Curacao.bmp"
CXR		BITMAP		"Flagsbmp\\CXR, Christmas Island.bmp"
CYM		BITMAP		"Flagsbmp\\CYM, Cayman Islands.bmp"
CYP		BITMAP		"Flagsbmp\\CYP, Cyprus.bmp"
CZE		BITMAP		"Flagsbmp\\CZE, Czech Republic.bmp"
DEU		BITMAP		"Flagsbmp\\DEU, Germany.bmp"
DJI		BITMAP		"Flagsbmp\\DJI, Djibouti.bmp"
DMA		BITMAP		"Flagsbmp\\DMA, Dominica.bmp"
DNK		BITMAP		"Flagsbmp\\DNK, Denmark.bmp"
DOM		BITMAP		"Flagsbmp\\DOM, Dominican Republic.bmp"
DZA		BITMAP		"Flagsbmp\\DZA, Algeria.bmp"
ECU		BITMAP		"Flagsbmp\\ECU, Ecuador.bmp"
EGY		BITMAP		"Flagsbmp\\EGY, Egypt.bmp"
ERI		BITMAP		"Flagsbmp\\ERI, Eritrea.bmp"
ESH		BITMAP		"Flagsbmp\\ESH, Western Sahara.bmp"
ESP		BITMAP		"Flagsbmp\\ESP, Spain.bmp"
EST		BITMAP		"Flagsbmp\\EST, Estonia.bmp"
ETH		BITMAP		"Flagsbmp\\ETH, Ethiopia.bmp"
EUN		BITMAP		"Flagsbmp\\EUN, European Union.bmp"
FIN		BITMAP		"Flagsbmp\\FIN, Finland.bmp"
FJI		BITMAP		"Flagsbmp\\FJI, Fiji.bmp"
FLK		BITMAP		"Flagsbmp\\FLK, Falkland Islands.bmp"
FRA		BITMAP		"Flagsbmp\\FRA, France.bmp"
FRO		BITMAP		"Flagsbmp\\FRO, Faroe Islands.bmp"
FSM		BITMAP		"Flagsbmp\\FSM, Micronesia, Federal States of.bmp"
FXX		BITMAP		"Flagsbmp\\FXX, French-Metropolitan.bmp"
GAB		BITMAP		"Flagsbmp\\GAB, Gabon.bmp"
GBR		BITMAP		"Flagsbmp\\GBR, United Kingdom.bmp"
GEO		BITMAP		"Flagsbmp\\GEO, Georgia.bmp"
GGY		BITMAP		"Flagsbmp\\GGY, Guernsey.bmp"
GHA		BITMAP		"Flagsbmp\\GHA, Ghana.bmp"
GIB		BITMAP		"Flagsbmp\\GIB, Gibraltar.bmp"
GIN		BITMAP		"Flagsbmp\\GIN, Guinea.bmp"
GLP		BITMAP		"Flagsbmp\\GLP, Guadeloupe.bmp"
GMB		BITMAP		"Flagsbmp\\GMB, Gambia.bmp"
GNB		BITMAP		"Flagsbmp\\GNB, Guinea-Bissau.bmp"
GNQ		BITMAP		"Flagsbmp\\GNQ, Equatorial Guinea.bmp"
GRC		BITMAP		"Flagsbmp\\GRC, Greece.bmp"
GRD		BITMAP		"Flagsbmp\\GRD, Grenada.bmp"
GRL		BITMAP		"Flagsbmp\\GRL, Greenland.bmp"
GTM		BITMAP		"Flagsbmp\\GTM, Guatemala.bmp"
GUF		BITMAP		"Flagsbmp\\GUF, French Guayana.bmp"
GUM		BITMAP		"Flagsbmp\\GUM, Guam.bmp"
GUY		BITMAP		"Flagsbmp\\GUY, Guyana.bmp"
HKG		BITMAP		"Flagsbmp\\HKG, Hongkong.bmp"
HMD		BITMAP		"Flagsbmp\\HMD, Heard and McDonald Islands.bmp"
HND		BITMAP		"Flagsbmp\\HND, Honduras.bmp"
HRV		BITMAP		"Flagsbmp\\HRV, Croatia.bmp"
HTI		BITMAP		"Flagsbmp\\HTI, Haiti.bmp"
HUN		BITMAP		"Flagsbmp\\HUN, Hungary.bmp"
IDN		BITMAP		"Flagsbmp\\IDN, Indonesia.bmp"
IMN		BITMAP		"Flagsbmp\\IMN, Isle of Man.bmp"
IND		BITMAP		"Flagsbmp\\IND, India.bmp"
IOT		BITMAP		"Flagsbmp\\IOT, British Indian Ocean Territory.bmp"
IRL		BITMAP		"Flagsbmp\\IRL, Ireland.bmp"
IRN		BITMAP		"Flagsbmp\\IRN, Islamic Republic of Iran.bmp"
IRQ		BITMAP		"Flagsbmp\\IRQ, Iraq.bmp"
ISL		BITMAP		"Flagsbmp\\ISL, Iceland.bmp"
ISR		BITMAP		"Flagsbmp\\ISR, Israel.bmp"
ITA		BITMAP		"Flagsbmp\\ITA, Italy.bmp"
JAM		BITMAP		"Flagsbmp\\JAM, Jamaica.bmp"
JEY		BITMAP		"Flagsbmp\\JEY, Jersey.bmp"
JOR		BITMAP		"Flagsbmp\\JOR, Jordan.bmp"
JPN		BITMAP		"Flagsbmp\\JPN, Japan.bmp"
KAZ		BITMAP		"Flagsbmp\\KAZ, Kazakhstan.bmp"
KEN		BITMAP		"Flagsbmp\\KEN, Kenya.bmp"
KGZ		BITMAP		"Flagsbmp\\KGZ, Kyrgyzstan.bmp"
KHM		BITMAP		"Flagsbmp\\KHM, Cambodia.bmp"
KIR		BITMAP		"Flagsbmp\\KIR, Kiribati.bmp"
KNA		BITMAP		"Flagsbmp\\KNA, Saint Kitts and Nevis.bmp"
KOR		BITMAP		"Flagsbmp\\KOR, Korea, Republic of (South Korea).bmp"
KWT		BITMAP		"Flagsbmp\\KWT, Kuwait.bmp"
LAO		BITMAP		"Flagsbmp\\LAO, Lao, People's Democratic Republic.bmp"
LBN		BITMAP		"Flagsbmp\\LBN, Lebanon.bmp"
LBR		BITMAP		"Flagsbmp\\LBR, Liberia.bmp"
LBY		BITMAP		"Flagsbmp\\LBY, Libya.bmp"
LCA		BITMAP		"Flagsbmp\\LCA, Saint Lucia.bmp"
LIE		BITMAP		"Flagsbmp\\LIE, Liechtenstein.bmp"
LKA		BITMAP		"Flagsbmp\\LKA, Sri Lanka.bmp"
LSO		BITMAP		"Flagsbmp\\LSO, Lesotho.bmp"
LTU		BITMAP		"Flagsbmp\\LTU, Lithuania.bmp"
LUX		BITMAP		"Flagsbmp\\LUX, Luxembourg.bmp"
LVA		BITMAP		"Flagsbmp\\LVA, Latvia.bmp"
MAC		BITMAP		"Flagsbmp\\MAC, Macau.bmp"
MAF		BITMAP		"Flagsbmp\\MAF, St. Martin.bmp"
MAR		BITMAP		"Flagsbmp\\MAR, Morocco.bmp"
MCO		BITMAP		"Flagsbmp\\MCO, Monaco.bmp"
MDA		BITMAP		"Flagsbmp\\MDA, Moldova, Republic of.bmp"
MDG		BITMAP		"Flagsbmp\\MDG, Madagascar.bmp"
MDV		BITMAP		"Flagsbmp\\MDV, Maldives.bmp"
MEX		BITMAP		"Flagsbmp\\MEX, Mexico.bmp"
MHL		BITMAP		"Flagsbmp\\MHL, Marshall Islands.bmp"
MKD		BITMAP		"Flagsbmp\\MKD, Macedonia, Rep. of.bmp"
MLI		BITMAP		"Flagsbmp\\MLI, Mali.bmp"
MLT		BITMAP		"Flagsbmp\\MLT, Malta.bmp"
MMR		BITMAP		"Flagsbmp\\MMR, Myanmar, Burma.bmp"
MNE		BITMAP		"Flagsbmp\\MNE, Montenegro.bmp"
MNG		BITMAP		"Flagsbmp\\MNG, Mongolia.bmp"
MNP		BITMAP		"Flagsbmp\\MNP, Northern Mariana Islands.bmp"
MOZ		BITMAP		"Flagsbmp\\MOZ, Mozambique.bmp"
MRT		BITMAP		"Flagsbmp\\MRT, Mauritania.bmp"
MSR		BITMAP		"Flagsbmp\\MSR, Montserrat.bmp"
MTQ		BITMAP		"Flagsbmp\\MTQ, Martinique.bmp"
MUS		BITMAP		"Flagsbmp\\MUS, Mauritius.bmp"
MWI		BITMAP		"Flagsbmp\\MWI, Malawi.bmp"
MYS		BITMAP		"Flagsbmp\\MYS, Malaysia.bmp"
MYT		BITMAP		"Flagsbmp\\MYT, Mayotte.bmp"
NAM		BITMAP		"Flagsbmp\\NAM, Namibia.bmp"
NCL		BITMAP		"Flagsbmp\\NCL, New Caledonia.bmp"
NCY		BITMAP		"Flagsbmp\\NCY, North Cyprus.bmp"
NER		BITMAP		"Flagsbmp\\NER, Niger.bmp"
NFK		BITMAP		"Flagsbmp\\NFK, Norfolk Island.bmp"
NGA		BITMAP		"Flagsbmp\\NGA, Nigeria.bmp"
NIC		BITMAP		"Flagsbmp\\NIC, Nicaragua.bmp"
NIU		BITMAP		"Flagsbmp\\NIU, Niue.bmp"
NLD		BITMAP		"Flagsbmp\\NLD, Netherlands.bmp"
NOR		BITMAP		"Flagsbmp\\NOR, Norway.bmp"
NPL		BITMAP		"Flagsbmp\\NPL, Nepal.bmp"
NRU		BITMAP		"Flagsbmp\\NRU, Nauru.bmp"
NZL		BITMAP		"Flagsbmp\\NZL, New Zealand.bmp"
OMN		BITMAP		"Flagsbmp\\OMN, Oman.bmp"
PAK		BITMAP		"Flagsbmp\\PAK, Pakistan.bmp"
PAN		BITMAP		"Flagsbmp\\PAN, Panama.bmp"
PCN		BITMAP		"Flagsbmp\\PCN, Pitcairn Islands.bmp"
PER		BITMAP		"Flagsbmp\\PER, Peru.bmp"
PHL		BITMAP		"Flagsbmp\\PHL, Philippines.bmp"
PLW		BITMAP		"Flagsbmp\\PLW, Palau.bmp"
PNG		BITMAP		"Flagsbmp\\PNG, Papua New Guinea.bmp"
POL		BITMAP		"Flagsbmp\\POL, Poland.bmp"
PRI		BITMAP		"Flagsbmp\\PRI, Puerto Rico.bmp"
PRK		BITMAP		"Flagsbmp\\PRK, North Korea.bmp"
PRT		BITMAP		"Flagsbmp\\PRT, Portugal.bmp"
PRY		BITMAP		"Flagsbmp\\PRY, Paraguay.bmp"
PSE		BITMAP		"Flagsbmp\\PSE, Palestine.bmp"
PYF		BITMAP		"Flagsbmp\\PYF, French Polynesia.bmp"
QAT		BITMAP		"Flagsbmp\\QAT, Qatar.bmp"
RBK		BITMAP		"Flagsbmp\\RBK, Bergkarabach.bmp"
REU		BITMAP		"Flagsbmp\\REU, Reunion.bmp"
ROU		BITMAP		"Flagsbmp\\ROU, Romania.bmp"
RUS		BITMAP		"Flagsbmp\\RUS, Russia.bmp"
RWA		BITMAP		"Flagsbmp\\RWA, Rwanda.bmp"
SAN		BITMAP		"Flagsbmp\\SAN, Union of South American Nations.bmp"
SAU		BITMAP		"Flagsbmp\\SAU, Saudi Arabia.bmp"
SCG		BITMAP		"Flagsbmp\\SCG, Serbia and Montenegro.bmp"
SDN		BITMAP		"Flagsbmp\\SDN, Sudan.bmp"
SEN		BITMAP		"Flagsbmp\\SEN, Senegal.bmp"
SGP		BITMAP		"Flagsbmp\\SGP, Singapore.bmp"
SGS		BITMAP		"Flagsbmp\\SGS, South Georgia and the South Sandwich Islands.bmp"
SHN		BITMAP		"Flagsbmp\\SHN, St. Helena.bmp"
SJM		BITMAP		"Flagsbmp\\SJM, Svalbard and Jan Mayen.bmp"
SLB		BITMAP		"Flagsbmp\\SLB, Solomon Islands.bmp"
SLD		BITMAP		"Flagsbmp\\SLD, Somaliland.bmp"
SLE		BITMAP		"Flagsbmp\\SLE, Sierra Leone.bmp"
SLV		BITMAP		"Flagsbmp\\SLV, El Salvador.bmp"
SMR		BITMAP		"Flagsbmp\\SMR, San Marino.bmp"
SOL		BITMAP		"Flagsbmp\\SOL, Somaliland.bmp"
SOM		BITMAP		"Flagsbmp\\SOM, Somalia.bmp"
SOS		BITMAP		"Flagsbmp\\SOS, South Ossetia.bmp"
SPM		BITMAP		"Flagsbmp\\SPM, Saint-Pierre und Miquelon.bmp"
SRB		BITMAP		"Flagsbmp\\SRB, Serbia.bmp"
SSD		BITMAP		"Flagsbmp\\SSD, South Sudan.bmp"
STP		BITMAP		"Flagsbmp\\STP, Sao Tome and Principe.bmp"
SUR		BITMAP		"Flagsbmp\\SUR, Suriname.bmp"
SVK		BITMAP		"Flagsbmp\\SVK, Slovakia (Slovak Republic).bmp"
SVN		BITMAP		"Flagsbmp\\SVN, Slovenia.bmp"
SWE		BITMAP		"Flagsbmp\\SWE, Sweden.bmp"
SWZ		BITMAP		"Flagsbmp\\SWZ, Swaziland.bmp"
SXM		BITMAP		"Flagsbmp\\SXM, Sint Maarten.bmp"
SYC		BITMAP		"Flagsbmp\\SYC, Seychelles.bmp"
SYR		BITMAP		"Flagsbmp\\SYR, Syria, Syrian Arab Republic.bmp"
TCA		BITMAP		"Flagsbmp\\TCA, Turks and Caicos Islands.bmp"
TCD		BITMAP		"Flagsbmp\\TCD, Chad.bmp"
TGO		BITMAP		"Flagsbmp\\TGO, Togo.bmp"
THA		BITMAP		"Flagsbmp\\THA, Thailand.bmp"
TJK		BITMAP		"Flagsbmp\\TJK, Tajikistan.bmp"
TKL		BITMAP		"Flagsbmp\\TKL, Tokelau.bmp"
TKM		BITMAP		"Flagsbmp\\TKM, Turkmenistan.bmp"
TLS		BITMAP		"Flagsbmp\\TLS, East Timor Timor-Leste.bmp"
TON		BITMAP		"Flagsbmp\\TON, Tonga.bmp"
TRN		BITMAP		"Flagsbmp\\TRN, Transnistria.bmp"
TTO		BITMAP		"Flagsbmp\\TTO, Trinidad and Tobago.bmp"
TUN		BITMAP		"Flagsbmp\\TUN, Tunisia.bmp"
TUR		BITMAP		"Flagsbmp\\TUR, Turkey.bmp"
TUV		BITMAP		"Flagsbmp\\TUV, Tuvalu.bmp"
TWN		BITMAP		"Flagsbmp\\TWN, Taiwan Republic of China.bmp"
TZA		BITMAP		"Flagsbmp\\TZA, Tanzania.bmp"
UGA		BITMAP		"Flagsbmp\\UGA, Uganda.bmp"
UKR		BITMAP		"Flagsbmp\\UKR, Ukraine.bmp"
UMI		BITMAP		"Flagsbmp\\UMI, United States Minor Outlying Islands.bmp"
URY		BITMAP		"Flagsbmp\\URY, Uruguay.bmp"
USA		BITMAP		"Flagsbmp\\USA, United States.bmp"
UZB		BITMAP		"Flagsbmp\\UZB, Uzbekistan.bmp"
VAT		BITMAP		"Flagsbmp\\VAT, Vatican City.bmp"
VCT		BITMAP		"Flagsbmp\\VCT, Saint Vincent and the Grenadines.bmp"
VEN		BITMAP		"Flagsbmp\\VEN, Venezuela.bmp"
VGB		BITMAP		"Flagsbmp\\VGB, British Virgin Islands.bmp"
VIR		BITMAP		"Flagsbmp\\VIR, U.S. Virgin Islands.bmp"
VNM		BITMAP		"Flagsbmp\\VNM, Vietnam.bmp"
VUT		BITMAP		"Flagsbmp\\VUT, Vanuatu.bmp"
WLF		BITMAP		"Flagsbmp\\WLF, Wallis and Futuna.bmp"
WSM		BITMAP		"Flagsbmp\\WSM, Samoa.bmp"
XKX		BITMAP		"Flagsbmp\\XKX, Kosovo.bmp"
YEM		BITMAP		"Flagsbmp\\YEM, Yemen.bmp"
ZAF		BITMAP		"Flagsbmp\\ZAF, South Africa.bmp"
ZMB		BITMAP		"Flagsbmp\\ZMB, Zambia.bmp"
ZWE		BITMAP		"Flagsbmp\\ZWE, Zimbabwe.bmp"